.card {
  width: 300px;
  padding: 15px;
  margin: 1rem;

  overflow: auto;

  border-radius: 8px;
  border: 2px solid #ffd900b9;

  background: #00000089;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-image {
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 50%;
  min-height: 220px;
  max-height: 220px;
  margin-bottom: 1rem;
}
